/* Footer */
footer {
  background: none;
  color: #fff;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  color: #c19f2a;
  transition: all 400ms;
  text-decoration: none;
}
footer .container {
  position: relative;
}

/* Copyright */
.copyright {
  height: 68px;
  line-height: 68px;
  background: none;
      font-size: 14px;
    color: #828282;
}
.copyright a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.copyright a:hover {
  color: #162031;
  text-decoration: none;
}